redis
requests
pandas
numpy
python-dotenv
google-generativeai
crewai==1.0.0
crewai[google-genai]
chromadb
reportlab
streamlit
langfuse
litellm
openinference-instrumentation-crewai
openinference-instrumentation-litellm
